<head>
  <link rel="stylesheet" href="show.css">
</head>

<body>
<div class="show_box">
  <p class="show_text">
    <strong>Title:</strong>
    <%= @book.title %>
  </p>
</div>

<div class="show_box">
  <p class="show_text">
    <strong>Body:</strong>
    <%= @book.body %>
  </p>
</div>

<div class="show_box">
  <%= link_to 'Edit', edit_book_path(@book.id) %>
  &nbsp;|&nbsp;
  <%= link_to 'Back', :controller => "books", :action => "index" %>
</div>
</body>