h1 {
  margin: 17.42px 0;
}

.field, .action {
  margin-bottom: 10px;
}

.field input {
  padding: 1px 2px;
}
.field textarea {
  padding: 2px;
}

.action input {
  padding: 1px 6px;
}

.color_1 a {
  color: #000000;
}
.color_2 a {
  color: #666666;
}